$white: #fff
$black: #181c24
$blue: #192544
$green: #25ba7b
$gray: #dee4ee
$red: #ff5656

// Breakpoints

$screen-sm: 'min-width: 375px'
$screen-md: 'min-width: 768px'
$screen-lg: 'min-width: 1024px'
$screen-xl: 'min-width: 1300px'
$screen-xxl: 'min-width: 1440px'